<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>RadoslawRatesMail1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td style="padding: 10px 0 30px 0;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc; border-collapse: collapse;">
                <tr>
                    <td align="center" bgcolor="#ffffff " style="padding: 40px 0 30px 0; color: #153643; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">
                        <img src="https://zapodaj.net/images/39a0963988197.jpg" alt="Creating Email Magic" width="300" height="300" style="display: block;" />
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td style="color: #000000; font-family: Arial, sans-serif; font-size: 13px;">
                                    <b>
                                        <span class="apple-link" style="color: #000000; font-size: 14px; text-align: center; "th:text="${dear}"></span>
                                        <span class="apple-link" style="color: #000000; font-size: 14px; text-align: center; "th:text="${userFirstName}"></span>
                                        <br/>
                                        <br/>
                                        Welcome to Radoslaw's Rates Exchanges, please find the activation link below :)
                                    </b>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 20px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                                    Please, click the link shown below to activate you account :)
                                    <br>
                                    <br>
                                    <span class="apple-link" style="color: #2248F0; font-size: 15px; text-align: center; "th:text="${message}"></span>
                                    <br/>
                                    <br/>
                                    If you have any issues, contact me via radoslaw.lazur.dev@gmail.com
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>